.Search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  p {
    margin-right: 20px;
  }
}

.Items {
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow: auto;
}

.Item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.Image {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.Text {
  width: 45%;
  margin: 0 20px;
}