.Content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.Window {
  height: 100vh;
}

.Email {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
    button {
      margin: 20px;
      cursor: pointer;
    }
}