
section {
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  //width: 50vw;
  height: 100vh;
}

h1 {
  font-size: 36px;
}



.SocialNetworks {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  div {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
  }
  i {
    font-size: 18px;
    text-align: center;
  }
  p {
    font-size: 14px;
    margin: 10px;
  }
  a {
    font-size: 14px;
    color: black;
    text-decoration: none;
  }
}