.Navigation {
  margin: 0 30px;
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      margin: 20px 0;
      text-align: left;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
}