
section {
  font-family: Montserrat;
  display: flex !important;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  //width: 50vw;
  height: 100vh;
}

.link {
  text-decoration: none;
  color: white;
  margin: 50px 0;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: bold;
  background: deepskyblue;

}