.inputField {
  div {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    span {
      position: absolute;
      color: red;
      font-size: 14px;
      right: 0;
      margin-right: 10px;
    }
  }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
      width: 300px;
      font-size: 18px;
      margin-top: 5px;
      ::placeholder {
        font-size: 14px;
      }
    }

    //button {
    //  color: white;
    //  background: deepskyblue;
    //  font-size: 18px;
    //  padding: 10px 30px;
    //  border-radius: 20px;
    //  font-weight: bold;
    //  cursor: pointer;
    //}
}

.links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  a {
    color: black;
    text-decoration: none;
  }
}